asgiref==3.5.2
async-generator==1.10
attrs==21.4.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cloudinary==1.29.0
coverage==6.4.1
cryptography==37.0.4
dj-database-url==0.5.0
Django==4.0.6
django-cors-headers==3.13.0
django-debug-toolbar==3.5.0
django-on-heroku==1.1.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
drf-spectacular==0.22.1
gunicorn==20.1.0
h11==0.13.0
idna==3.3
inflection==0.5.1
jsonschema==4.6.1
outcome==1.2.0
Pillow==9.2.0
psycopg2-binary==2.9.3
pycparser==2.21
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
requests==2.28.1
selenium==4.3.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.2
trio==0.21.0
trio-websocket==0.9.2
uritemplate==4.1.1
urllib3==1.26.9
whitenoise==6.2.0
wsproto==1.1.0
